.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 530px;
  height: 650px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 0;
  font-size: 18px;
}

.input-title {
  width: 505px;
  padding: 10px;
  margin-bottom: 15px;

  font-size: 30px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border: none;
}
.input-content {
  width: 505px;
  padding: 10px;
  margin-bottom: 15px;

  font-size: 18px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border: none;
}

.input-content {
  min-height: 500px;
  width: 505px;
  border: none;
  resize: vertical;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-button,
.save-button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ccc;
}

.save-button {
  background-color: #4caf50;
  color: white;
}
