/* global.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 기본 스타일 */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
  }
  
  /* 전체적인 스타일 커스텀 */
  h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: bold;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
  }
  
  ul, li {
    list-style: none;
    color: black;
  }